name: Django CI/CD

on:
  push:
    branches: [ main,niruba ]
  pull_request:
    branches: [ main,niruba ]

jobs:
  build:
    runs-on: ubuntu-latest

   

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r backend/requirements.txt

    - name: Run migrations
      run: |
        python backend/manage.py migrate

    - name: Run tests
      run: |
        python backend/manage.py test